@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Apresento a vocês o elevador Perfeito</a>.</p>
    <p>
        Número 1 -  <a href="https://docs.microsoft.com/aspnet/core">
            O elevador exibe uma intereção com o usuário de boas vindas
            logo em seguida pede que informe a capacidade do elevador e a quantidade de andares
        </a>.
    </p>

    <p>
        Número 2 -  <a href="https://docs.microsoft.com/aspnet/core">
            Depois exibe um mensagem pedindo que o usuário decida se ele quer entrar no elevaodr!
        </a>.
    </p>

    <p>
        Número 3 -  <a href="https://docs.microsoft.com/aspnet/core">
            Depois exibe outra mensagem pedindo que o usuário informe se ele quer subir ou sair do elevador!
        </a>.
    </p>

</div>
